@model IEnumerable<NIBM.Procurement.Areas.Procurement.Models.ProcurementReqItemsVM>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReqQty)
            </th>
            @{
                if (ViewBag.IsToEdit)
                {
                    <th class="btn-1" style="width:120px">
                        @Html.NoEncodeActionLink("<span class='fa fa-plus' style='color:white'></span>", "Add", "ChildCreate", routeValues: new { proReqID = ViewBag.ProReqID }, htmlAttributes: new { data_popup_editor = "", @class = "btn btn-primary pull-right btn-sm", data_title = "Add Items", data_popup_width = "450" })
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReqQty)
                </td>
                @{
                    if (ViewBag.IsToEdit)
                    {
                        <td class="btn-2">
                            <div class="d-grid gap-2 d-md-block pull-right">
                                @using (Html.BeginForm("ChildDelete", "ProcurementRequests", new { id = item.ProReqItemID }))
                                {
                                    @Html.NoEncodeActionLink("<span class='bi bi-pencil' style='color:black'></span>", "Edit", "ChildEdit", routeValues: new { id = item.ProReqItemID }, htmlAttributes: new { data_popup_editor = "", @class = "btn btn-warning btn-sm", @style = "margin-right:3px;", data_title = "Edit Combined Courses", data_popup_width = "450" })                                                  
                                    @Html.ConfirmSubmitButton("<span class='bi bi-trash'></span>", "Are you sure you want to delete?", "Confirm Item deletion","<span class='bi bi-trash'></span> Delete", new { data_popup_delete = "", @class = "btn btn-danger btn-sm" })

                                }
                            </div>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.IsToEdit)
{
    Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml");
}