@{
    ViewBag.Title = "Requests to be Approved";
}
<div>
    <div id="PrcuremntReqApp">
        @model NIBM.Procurement.Common.BaseViewModel<NIBM.Procurement.Areas.Procurement.Models.ProcuremenetRequestVM>
        @{
            var srchOpts = new List<SelectListItem>();
            srchOpts.Add(new SelectListItem { Text = "Subject", Value = "ReqSubject" });
            srchOpts.Add(new SelectListItem { Text = "Branch", Value = "FromBranch" });
            srchOpts.Add(new SelectListItem { Text = "Department", Value = "FromDepart" });
            srchOpts.Add(new SelectListItem { Text = "Description", Value = "Description" });
        }
        @using (Html.BeginForm(FormMethod.Get))
        {
            <br />
            <div class="form-horizontal row">
                <div class="col-md-4">
                    <div class="form-group row">
                        @Html.Label("Search By", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("FilterBy", new SelectList(srchOpts, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm rounded-pill form-select-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control form-control-sm rounded-pill" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Search" name="Search" class="btn btn-outline-secondary" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            if (ViewBag.procurementAppPendingAppCount != 0)
            {
                <div class="row">
                    <div class="col-md-2">
                        
                    </div>
                </div>

                <br />
                <br />
                <br />
                <table id="tblProuReqApp" style="width:100%;margin-bottom:5px;">
                    <thead>
                        <tr>
                            <th>
                                <table class="table table-striped" style="margin: 0;">
                                    <thead>
                                        <tr>
                                            <th class="btn-1" style="width:3%"></th>
                                            <th style="width:4%"></th>
                                            <th style="width:9%">
                                                Requested Date
                                            </th>
                                            <th style="width:9%">
                                                Subject
                                            </th>
                                            <th style="width:10%">
                                                Description
                                            </th>
                                            <th style="width:8%">
                                                Branch
                                            </th>
                                            <th style="width:9%">
                                                Department
                                            </th>
                                            <th style="width:9%">
                                                Requested By
                                            </th>
                                            <th style="width:11%">
                                                Divisional Head
                                            </th>
                                            <th style="width:11%">
                                                Supervisor Comment
                                            </th>
                                            <th style="width:9%">
                                                Status
                                            </th>
                                            <th style="width:10%">
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.procurementAppPendingApp)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <table class="table table-striped" style="margin: 0;">
                                            <tbody>
                                                <tr>

                                                    <td class="btn-1" style="width:4%; text-align:center">
                                                        <button type="button" name="toggleBudgets" class="btn btn-default btn-sm" aria-label="Left Align">
                                                            <span class="bi bi-chevron-down" aria-hidden="true"></span>
                                                        </button>
                                                    </td>
                                                    <td id="ProReqID" style="width:9%">
                                                        @item.ReqDate.ToString("yyyy-MM-dd")
                                                        <input type="hidden" value="@item.ProReqID" />
                                                    </td>
                                                    
                                                    <td id="RejID" style="width:9%">
                                                        @item.ReqSubject
                                                        <input type="hidden" value="01" />
                                                    </td>
                                                    <td id="ValId" style="width:10%">
                                                        @item.Description
                                                        <input type="hidden" value="01" name="ValId" />
                                                    </td>
                                                    <td style="width:8%">
                                                        @item.FromBranch
                                                    </td>
                                                    <td style="width:9%">
                                                        @item.FromDepart
                                                    </td>
                                                    <td style="width:9%">
                                                        @item.RequestedBy
                                                    </td>

                                                    <td style="width:11%">
                                                        @item.DivHead
                                                    </td>
                                                    <td id="TextComment" style="width:11%; text-align: center">
                                                        <textarea name="TxtAreaSuperCmt" rows="4" cols="10" style="max-width:100px">@item.SupervisorComment</textarea>
                                                    </td>
                                                    <td id="status" style="width:9%">
                                                        @item.Status
                                                        <input type="hidden" value="@item.Status" />
                                                    </td>
                                                    <td style="width:10%; text-align: center">
                                                        <div id="rejBtn">
                                                            @using (Html.BeginForm())
                                                            {
                                                                @Html.ConfirmSubmitButton("<span class='bi bi-check-circle'></span>&nbsp;Approve", "Are you sure you want to approve?", "Confirm request approval",
                                                       "<span class='bi bi-check-circle'></span>&nbsp;&nbspApprove", new { @class = "btn btn-success mt-2 mb-2", style = "min-width:50px" }, "btn-success", "Approve"
                                                       , jsFunction: "ProcReqApprove")
                                                                @Html.ConfirmSubmitButton("<span class='bi bi-x-circle'></span>&nbsp;Reject", "Are you sure you want to reject?", "Confirm request rejection",
                                                                "<span class='bi bi-x-circle'></span>&nbsp;&nbspReject", new { @class = "btn btn-danger btn-sm", style = "min-width:50px; margin-bottom:4px;" },
                                                                jsFunction: "RejectProcFromTile")

                                                            }
                                                            <div style="border-bottom:10px !important; ">
                                                                @if (item.AttachmentLink != null)
                                                                {

                                                                    <a href=@item.AttachmentLink class="btn btn-primary" target="_blank" style="width:70%;"><span class='bi bi-download'></span></a>

                                                                }
                                                                else
                                                                { <span style="font-weight:bold;color:black; font-size:inherit">- Attachment Not Available - </span>}
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <div name="ProcDetDiv" style="width: 75%; margin-left: auto; margin-right: auto;display:none;">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Item Description
                                                        </th>
                                                        <th>
                                                            Quantity
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var det in item.ProcuItemDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @det.ItemDesc
                                                            </td>
                                                            <td>
                                                                @det.ReqQty
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />
            }
            @*/////////////////////////  --------   Recommond Table ------------ //////////////////////*@
            <br />
            if (ViewBag.IsHR)
            {
                <div id="ProcRecommond">

                    @if (ViewBag.ProcurementAppCount != 0)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <input id="SelectAllRecommond" type="checkbox" class="form-check-box" style="margin-bottom:10px" /> <span style="font-size:15px; color:black"> &nbsp; Select All</span>
                            </div>
                            <div class="col-md-6">
                                @using (Html.BeginForm())
                                {
                                    var viewbsg = ViewBag.ProcurementApp;
                                    <input id="stringPara5" type="hidden" name="StringPara1">
                                    <div class="d-grid gap-2 d-md-block">
                                        @Html.ConfirmSubmitButton("<span class='bi bi-check-circle'></span>&nbsp;Approve", "Are you sure you want to approve?", "Confirm request approval",
                                                    "<span class='bi bi-check-circle'></span>&nbsp;&nbspApprove", new { @class = "btn btn-success", style = "min-width:75px;margin-bottom:4px;" }, "btn-success", "Approve"
                                                    , jsFunction: "ProcReq2ndApprove")

                                        @Html.ConfirmSubmitButton("<span class='bi bi-check-circle'></span>&nbsp;Recommend", "Are you sure you want to recommend this? ",
                                                "Confirm receiving for recommendation", "<span class='bi bi-hand-thumbs-up'></span> Recommend",
                                                 new { @class = "btn btn-primary", style = "min-width:75px" }, "btn-primary", "Recommend", jsFunction: "Recommend")

                                    </div>
                                }

                            </div>
                        </div>

                        <br />

                        <table id="tblProuReqRecommand" style="width:100%;margin-bottom:5px;">
                            <thead>
                                <tr>
                                    <th>
                                        <table class="table table-striped" style="margin: 0;">
                                            <thead>
                                                <tr>
                                                    <th class="btn-1" style="width:3%"></th>
                                                    <th style="width:4%"></th>
                                                    <th style="width:9%">
                                                        Requested Date
                                                    </th>
                                                    <th style="width:9%">
                                                        Subject
                                                    </th>
                                                    <th style="width:10%">
                                                        Description
                                                    </th>
                                                    <th style="width:8%">
                                                        Branch
                                                    </th>
                                                    <th style="width:9%">
                                                        Department
                                                    </th>
                                                    <th style="width:9%">
                                                        Requested By
                                                    </th>
                                                    <th style="width:11%">
                                                        Divisional Head
                                                    </th>
                                                    <th style="width:11%">
                                                        Supervisor Comment
                                                    </th>
                                                    <th style="width:9%">
                                                        Status
                                                    </th>
                                                    <th style="width:10%">
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ProcurementApp)
                                {
                                    <tr>
                                        <td>
                                            <div>
                                                <table class="table table-striped" style="margin: 0;">
                                                    <tbody>
                                                        <tr>
                                                            <td id="select" style="width: 3%; text-align: center">
                                                                <input type="checkbox" class="form-check-box" />
                                                            </td>
                                                            <td class="btn-1" style="width:4%; text-align:center">
                                                                <button type="button" name="toggleBudgets" class="btn btn-default btn-sm" aria-label="Left Align">
                                                                    <span class="bi bi-chevron-down" aria-hidden="true"></span>
                                                                </button>
                                                            </td>
                                                            <td id="ProReqID" style="width:9%">
                                                                @item.ReqDate.ToString("yyyy-MM-dd")
                                                                <input type="hidden" value="@item.ProReqID" />
                                                            </td>
                                                           
                                                            <td id="RejID" style="width:9%">
                                                                @item.ReqSubject
                                                                <input type="hidden" value="02" />
                                                            </td>
                                                            <td id="ValId" style="width:10%">
                                                                @item.Description
                                                                <input type="hidden" value="01" name="ValId" />
                                                            </td>
                                                            <td style="width:8%">
                                                                @item.FromBranch
                                                            </td>
                                                            <td style="width:9%">
                                                                @item.FromDepart
                                                            </td>
                                                            <td style="width:9%">
                                                                @item.RequestedBy
                                                            </td>

                                                            <td style="width:11%">
                                                                @item.DivHead
                                                            </td>
                                                            <td id="TextComment" style="width:11%; text-align: center">
                                                                <textarea name="TxtArea" rows="4" cols="10" style="max-width:100px">@item.SupervisorComment</textarea>
                                                            </td>
                                                            <td id="status" style="width:9%">
                                                                @item.Status
                                                                <input type="hidden" value="@item.Status" />
                                                            </td>
                                                            <td style="width:10%; text-align: center">
                                                                <div id="rejBtn">
                                                                    @using (Html.BeginForm())
                                                                    {
                                                                        @Html.ConfirmSubmitButton("<span class='bi bi-x-circle'></span>&nbsp;Reject", "Are you sure you want to reject?", "Confirm request rejection", "<span class='bi bi-x-circle'></span>&nbsp;&nbspReject", new { @class = "btn btn-danger btn-sm", style = "min-width:50px;margin-bottom:4px;" }, jsFunction: "RejectProcFromTile")
                                                                    }
                                                                    @if (item.AttachmentLink != null)
                                                                    {

                                                                        <a href=@item.AttachmentLink class="btn btn-primary" target="_blank"><span class='bi bi-download'></span> </a>

                                                                    }
                                                                    else
                                                                    { <span style="font-weight:bold;color:black; font-size:inherit">- Attachment Not Available - </span>}
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <div name="ProcDetDiv" style="width: 75%; margin-left: auto; margin-right: auto;display:none;">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Item Description
                                                                </th>
                                                                <th>
                                                                    Quantity
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var det in item.ProcuItemDetails)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @det.ItemDesc
                                                                    </td>
                                                                    <td>
                                                                        @det.ReqQty
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }

        }
    </div>

    @*</div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/notification")
    @Scripts.Render("~/bundles/procurement/procurement")
}