@model NIBM.Procurement.Areas.Base.Models.DashBoardVM

<link href="~/Content/ChartsStyle.css" rel="stylesheet" />
<script src="~/Scripts/Chart.custom.js"></script>

@{
    var strDate = DateTime.Now.ToString("dd-MMM-yyyy");
}

<body>
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-lg-4 justify-content-center">
                        <div class="card-counter danger col-md-12" style="max-height:80px !important">
                            <a href="@Url.Action("Create", "ProcurementRequests", new { area = "Procurement" })">
                                <div class="row g-0" style="margin-top:-2%;">
                                    <div class="card-text-div col-md-10 col-sm-8 col-lg-10">
                                        <span class="count-numbers" style="color: white !important"></span>
                                        <span class="count-name" style="color:white !important;font-size:x-large;line-height:72px;"><center>New Request</center></span>
                                    </div>
                                    <div class="card-icon-div col-md-2 col-sm-4 col-lg-2">
                                        <span class="card-icon bi bi-pencil-square" style="color: white !important"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 justify-content-center">
                        <div class="card-counter primary col-md-12" style="max-height:80px !important">
                            <a href="@Url.Action("PendingFeedbacks", "ProcurementRequests", new { area = "Procurement" })">
                                <div class="row g-0" style="margin-top:-2%;">
                                    <div class="card-text-div col-md-10 col-sm-8 col-lg-10">
                                        <span class="count-numbers" style="color: white !important">@Model.PendingFeedbacks</span>
                                        <span class="count-name" style="color: white !important">Recent Completions</span>
                                    </div>
                                    <div class="card-icon-div col-md-2 col-sm-4 col-lg-2">
                                        <span class="card-icon bi bi-award" style="color: white !important"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 justify-content-center">
                        <div class="card-counter success col-md-12" style="max-height:80px !important">
                            <a href="@Url.Action("Requests", "ApproveRequest", new { area = "Procurement" })">
                                <div class="row g-0" style="margin-top:-2%;">
                                    <div class="card-text-div col-md-10 col-sm-8 col-lg-10">
                                        <span class="count-numbers" style="color: white !important">@Model.DivApprovalPending</span>
                                        <span class="count-name" style="color: white !important">Approval<span class="sub-name">Pending</span></span>
                                    </div>
                                    <div class="card-icon-div col-md-2 col-sm-4 col-lg-2">
                                        <span class="card-icon bi bi-check-square" style="color: white !important"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-around">
            <div class="col-md-12 col-lg-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                        @{ Html.RenderAction("ChildProcRequests", "DashBoard", new { area = "Base" }); }
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

@Html.CreateChart("chart1", Model.ProcurementRequest)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/notification")
    @Scripts.Render("~/bundles/procurement/procurement")
}