
@model NIBM.Procurement.Areas.Base.Models.ReportParameterVM

@{
    ViewBag.Title = "Procurement Request Summary Report";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <br />
        <p>
            <input type="submit" value="Generate" class="btn btn-primary" style="min-width:75px" />
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FromDate, "Date", new { htmlAttributes = new { @class = "form-control form-control-sm rounded-pill", type = "JQ-date" } })
                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ToDate, "Date", new { htmlAttributes = new { @class = "form-control form-control-sm rounded-pill", type = "JQ-date" } })
                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.BranchID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PopUpSelectorFor(model => model.BranchID, "Base", "Data", "GetBranches", new { @class = "form-select form-select-sm form-control form-control-sm rounded-pill" }, "Please select a Branch", new { fromBranchDept = true, isGalMatBranch = ViewBag.galleMataraFilter }, "-- All Branches --", "{1}", hiddenIndices: "0")
                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PopUpSelectorFor(model => model.DepartmentID, "Base", "Data", "GetDepartments", new { @class = "form-select form-select-sm form-control form-control-sm rounded-pill" }, "Please select a Department", new { fromBranchDept = true, branchID = Model.BranchID @*isAcademic = true*@ }, "-- All Departments --", "{1}", popUpWidth: 400, hiddenIndices: "0")
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "Base" }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/procurement/reports")
}
