@model NIBM.Procurement.Common.BaseViewModel<NIBM.Procurement.Areas.Admin.Models.BranchDepartmentVM>

@{
    ViewBag.Title = "Branch Departments";
    var grid = Model.GetGrid();
}

@{
    var srchOpts = new List<SelectListItem>();
    srchOpts.Add(new SelectListItem { Text = "Branch", Value = "BranchDesc" });
    srchOpts.Add(new SelectListItem { Text = "Department", Value = "DepartmentDesc" });
}

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", style = "min-width:75px" })
</p>

@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    <div class="form-horizontal row">
        <div class="col-md-4">
            <div class="form-group row">
                @Html.Label("Search By", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("FilterBy", new SelectList(srchOpts, "Value", "Text"), htmlAttributes: new { @class = "form-control form-control-sm rounded-pill form-select-sm" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group row">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control form-control-sm rounded-pill" } })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" name="Search" class="btn btn-outline-secondary" />
        </div>
    </div>
    <br />

    <div id="content">
        @grid.GetHtml(
        tableStyle: "table table-hover no-foot",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='bi bi-search' style='color:white'></span>", "View Details", "Details", routeValues: new { branchID = item.BranchID, departmentID = item.DepartmentID }, htmlAttributes: new { @class = "btn btn-primary btn-sm" }), style: "btn-1"),
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='bi bi-pencil-square' style='color:black'></span>", "Proceed to Edit", "Edit", routeValues: new { branchID = item.BranchID, departmentID = item.DepartmentID }, htmlAttributes: new { @class = "btn btn-warning btn-sm" }), style: "btn-1"),
            grid.SortColumn(columnName: "BranchDesc", header: "Branch"),
            grid.SortColumn(columnName: "DepartmentDesc", header: "Department"),
            grid.SortColumn(columnName: "Status", header: "Status", format: (item) => Html.NoEncodeLabel("<span class='bi bi-circle-fill " +
                    (((NIBM.Procurement.ActiveState)item.Status) == NIBM.Procurement.ActiveState.Active ? "green-status" : "blood-red-status") + "'>"
                    + " " + ((Enum)item.Status).ToEnumChar() + "</span>", "", htmlAttributes: new { @class = "" }), style: "status-btn-grid")
            ))

        <div id="content-footer">
            @grid.PagerList(WebGridPagerModes.All, Model.PageSize, Model.TotalRecords)
        </div>
    </div>
}